body{
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}
header{
    display: none;
}
#main_page{
    background-color: black;
    /*display: none;*/
    
}
canvas{
    overflow: hidden;
    border: 1px solid black;
}